body {
    text-align:justify;
    font-size:large;
    font-family:'Times New Roman', Times, serif;
}

.boas_vindas > img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:1290px;
    height:500px; 
}

.resumo_museu > img {
    margin-left:auto;
    width:400px;
    height:200px;
}

.complemento {

    text-align:justify;
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
    color:#575555;
}

.resumo_museu {
    text-align:justify;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color:#575555;
}

.titulo {
    border-style:double;
    border-color:#5c21ca;
    background-color:#532e97;
    text-align:center;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
    color:#ffffff;
}

.navbar-brand > img {
    display:inline;
    margin-left:0%;
}

.subtitulo {
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    text-align:center;
    color:#575555;
}

main {
    h5 {
        font-family:'Times New Roman', Times, serif;
        font-size:x-large;
        text-align:left;
        color:#575555;
    }
}

.topicos_semanais {
    text-align:justify;
    color:#575555;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
}


.topicos_semanais > h5 {
    border-style:solid;
    border-color:#5c21ca;
    background-color:#532e97;
    text-align:left;
    color:#ffffff;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;

}
#navbarNavAltMarkup {
    background-color:#532e97;
    border-color:#5c21ca;
    border-style:solid;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}